@media (max-width: 767px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (min-width: 1900px) {

}